<div class="modal-screen" (click)="onModalClose()">
  <div class="modal d-block"  >
    <div class="modal-dialog" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Student</h5>
          <button type="button" (click)="onModalClose()" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <app-form-shared (createStudent)="onSubmit($event)"></app-form-shared>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-outline-danger w-75 " (click)="onModalClose()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
