<div class="container container-md">
    <form class="form">
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="">Student Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6">
                <label for="">Student Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <label for="">Student Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6">
                <label for="">Student Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
        <div class="row mt-4 d-flex justify-content-center align-items-center" >
            <button class="btn btn-outline-primary w-75">submit</button>
        </div>
       
    </form>
</div>
