<div class="container container-md">
    <form [formGroup]="editForm" class="form">
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="">Student Name</label>
                <app-input [control]="editForm.controls.name"></app-input>
            </div>
            <div class="col-12 col-md-6">
                <label for="">Student Email</label>
                <app-input [control]="editForm.controls.email"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <label for="">Student NationalID</label>
                <app-input [control]="editForm.controls.nationalID"></app-input>
            </div>
            <div class="col-12 col-md-6">
                <label for="">Student Age</label>
                <app-input [control]="editForm.controls.age"></app-input>
            </div>
        </div>
        
        <div class="row mt-4 d-flex justify-content-center align-items-center" >
            <button class="btn btn-outline-primary w-75">submit</button>
        </div>
       
    </form>
</div>

<div>
    <h2>{{editForm.value | json}}</h2>
    <h2>{{editForm.valid | json}}</h2>
</div>
<h2>{{editForm.controls.age.valid}}</h2>
<h2>{{editForm.controls.email.valid}}</h2>
<h2>{{editForm.controls.name.valid}}</h2>
<h2>{{editForm.controls.nationalID.valid}}</h2>